---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

Mount Saint Vincent University
* Introduction to Probability (undergraduate: Fall 2018, Fall 2019)
* Introduction to Statistics I (undergraduate: Fall 2018)
* Introduction to Statistics II (undergraduate: Winter 2019)
* Intermediate Applied Statistics I: Linear Models (undergraduate: Fall 2019)

University of Wisconsin-Stout
* Multivariate Statistical Analysis (graduate: Fall 2017, Spring 2019)
* Statistical Methods (undergraduate & graduate: Fall 2017, Spring 2018, Summer 2018)
* Elementary Statistics Honors (undergraduate: Spring 2018)
* Elementary Statistics (undergraduate: Summer 2017, Summer 2018)
* Concepts of Mathematics (undergraduate: Fall 2016, Spring 2017)
* Intermediate Algebra (undergraduate: Fall 2016, Spring 2017, Fall 2017, Spring 2018)

University of Florida
* Introduction to Statistics I (undergraduate: Fall 2011)
* Introduction to Statistics II (undergraduate: Spring 2011, Spring 2012, Summer B 2012)
* Mathematics Content and Methods for Teaching Mathematics in the Inclusive Elementary Class Part 2 (undergraduate: Fall 2015)
* *Teaching K-8 Math Methods (graduate: Summer A 2013)
* *Research Methods of Construction (graduate: Fall 2012)

P.K. Yonge Developmental Research School
* †Advanced Placement (AP) Statistics (AY 2013-2014)

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
